<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secondexercise">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Secondexercise">
        <activity
            android:name=".features.home.RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".features.welcome.Welcome"
            android:exported="false" />
        <activity
            android:name=".features.security.Register"
            android:exported="false" />
        <activity
            android:name=".features.security.Login"
            android:exported="false" />
        <activity
            android:name=".features.profile.Profile"
            android:exported="false" />
        <activity
            android:name=".features.onBoarding.OnboardingThree"
            android:exported="false" />
        <activity
            android:name=".features.onBoarding.OnboardingTwo"
            android:exported="false" />
        <activity
            android:name=".features.onBoarding.OnboardingOne"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>